body{
    margin:0;
    background: none;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #EEAECA,#94BBE9);
    background-size: 400% 400% ;
    animation: moveGradient 8s ease infinite;
}
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.Calculator{
    width: fit-content;
    height: fit-content;
    background: transparent;
    border: 2px solid black;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0,0,0.2);
    color: white;
    border-radius: 10px;
    padding: 30px 30px;
}
#display{
    width: 100%;
    height: 100px;
    margin: auto;
    border-radius: 10px;
    font-weight: 400;
    font-size: x-large;
    font-weight: bolder;
    overflow-x: auto;
    white-space: nowrap;
}
button{
    width: 70px;
    height: 50px;
    margin: 10px;
    border: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    background: transparent;
    border: 2px solid white;
    box-shadow: 0 0 5px black;
}
.History {
    width: 350px;
    border-radius: 10px;
}
