body{
    margin:0;
    background: none;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #EEAECA,#94BBE9);
}
.Calculator{
    width: fit-content;
    height: fit-content;
    background: transparent;
    border: 2px solid black;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0,0,0.2);
    color: white;
    border-radius: 10px;
    padding: 30px 30px;
}
#display{
    width: 100%;
    height: 100px;
    margin: auto;
    border-radius: 10px;
    font-weight: 400;
    font-size: x-large;
    font-weight: bolder;
}
button{
    width: 70px;
    height: 50px;
    margin: 10px;
    border: 10px;
    border-radius: 30%;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}
.history {
    color: black;
    max-height: 50px;
    overflow-y: overlay;
}

.history h3 {
    text-align: center;
    margin-bottom: 10px;
}

.history ul {
    list-style: none;
    padding: 0;
}

.history li {
    background: rgba(255,255,255,0.1);
    margin: 5px 0;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
}
